* {
    box-sizing: border-box;
}

div {
    width: 80px;
    height: 80px;
    border: 2px solid red;
}

.text {
    width: 500px;
    height: 320px;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    align-items: center;
}
