body{
    position: absolute;
    width: 670px;
    height: 960px;
    left: 300px;
    top: 60px;
    
    background: #FFFFFF;
    border: 1px solid #AACDFF;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    border-radius: 20px;

}

h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    color: #0068FF;
}

hr{
    width: 466px;
    height: 0px;
}

name1 {
    position: absolute;
    width: 158px;
    height: 23.65px;
    left: 725px;
    top: 286px;
    font-family: 'Noto Sans CJK KR';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #797979;
}

button{
    box-sizing: border-box;

position: absolute;
width: 470px;
height: 75px;
margin: 30px;
background: #FFFFFF;
border: 1px solid #0068FF;
border-radius: 10px;
}

#btn {
    border-radius: 50px;
}

/* magin-right :50px */ 